.orderview{ background-color:white; line-height:45px; border-bottom:#f3f3f3 1px solid;}
.orderview a{ font-size:14px; color:#5e5e5e; padding:0 15px;}
.orderview a img{ position:relative;top:3px; margin-right:4px;}
.orderview a:hover{background-color:#f9f9f9}
.orderview #active{color:#FF4E15}
.orderview span{margin:0 10px;font-size:14px; }

.xgwords { background-color:white;border-bottom: #f3f3f3 1px solid;overflow:hidden}
.xgwords a{ color:#444444; padding:10px; font-size:14px}
.xgwords a:hover{background-color:#f9f9f9;}
.xgwords span{color:#999; margin:10px; font-size:14px}

.notlist{ margin:0.27rem auto; padding:0.18rem; font-size:16px; color:#999}

.arc_list{width:1200px;margin:0 auto;padding:15px 0;overflow:auto;display:block;background-color:white}
.arc_row{font-size:14px;display:block}
.tc_article{width:32%;float:left;padding:0 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tc_article a{color:#444444}
